.btn-right {
    display: flex;
    position: relative;
    float: right;
}

.btn-block {
    display: block;
}

.login-background {
    background-color: #9e9e9e;
}

.login-background-card {
    background-color: #f7f7f7
}

.modal-content { 
    -webkit-box-shadow: 2px 2px 3px 1px #8d8d8d;
    box-shadow: 2px 2px 3px 1px #8d8d8d;
    border: none;
}

.btn-close:hover {
    color: #302c2c;
    text-shadow: 0 1px 0 #302c2c;
    background-color: #f5f5f5;
    font-weight: 700;
    padding: 0.1rem 0.3rem;
}

.btn-close {
    color: #f5f5f5;
    text-shadow: 0 1px 0 #f5f5f5;
    background-color: #302c2c;
    font-weight: 700;
    padding: 0.1rem 0.3rem;
}

.modal-title {
    color: #f5f5f5;
}

.modal-header {
    padding: 0.5rem 1rem;
    background-color: #302c2c;
    border-bottom: 1px solid #999999;
}

.modal-body {
    background-color: #d4d4d4;
}

.modal-footer {
    padding: 0.5rem 1rem;
    background-color: #d4d4d4;
    border-top: 1px solid #999999;
}

.btn-modal {
    padding: 0.2rem 0.5rem;
}

.form-group {
    font-weight: 700;
}

.form-control {
    border: 1px solid #9c9c9c;
}

.delete-warning {
    font-weight: 600;
}

.active {
    color: #ddd;
    background-color: darkblue !important;
}

.tablehead {
    pointer-events: none;
    border: 1px solid #ddd !important;
    background-color: #c4c4c4;
}

.prettifier-table {
    cursor: pointer;
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}

.stripe {
    background-color: #efefef;
}

.white-stripe {
    background-color: #fafafa;
}

.cursor-effects {
    pointer-events: all;
    cursor: not-allowed;
}

.unset-style {
    margin-left: none !important;
}

.color-link, .color-link:hover {
    color: #302c2c;
}

.btn-float {
    z-index: 1000;
}

i {
    line-height: unset !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: unset !important;
    line-height: unset !important;
}

.select2-container .select2-selection--single {
    cursor: unset !important;
    height: unset !important;
}

.select2-container--default .select2-selection--single {
    display: block; 
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #9c9c9c;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out box-shadow .15s ease-in-out;
}

.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}

input:required:empty, input:focus:empty {
    border-color: red;
}

input:required:invalid, input:focus:invalid {
    border-color: orangered;
}

input:required:valid, input:focus:valid {
    border-color: green;
}