.fundo2 {
    background-color:gray;
}

.tablehead {
    pointer-events: none;
    border: 1px solid #ddd !important;
    background-color: #c4c4c4;
}

.prettifier-table {
    cursor: pointer;
    border-left: 1px solid #ddd !important;
    border-right: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}

.stripe {
    background-color: #efefef;
}

.white-stripe {
    background-color: #fafafa;
}

.cursor-effects {
    pointer-events: all;
    cursor: not-allowed;
}
